:root{
  --buttonBlue: #6674CC;
  --adminRed:#F56968;
  --teacherGreen: #4BB543;
  --white: #ffffff;
  --colorPrimary: #6674CC;
  --grayDark: #767474;
  --graylight: #BFBFBF;
  --orange: #FFAF38;
  --bgBlue: #F8F8FD;
}

