@keyframes slideInLeft {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInLeft2 {
    0% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }

.card{
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideInLeft;
}
.card2{
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideInLeft2;
}